#header{
    height: 100px;
    width: 100%;
    background-color: aqua;
}
#box{
  display: flex;
  flex-direction: row;
  /* height: 500px; */

  height: calc(100% - 100px);
  /* width: auto; */
  background-color: blue;
}
#box1{
  margin: 60px;
  height: 350px;
  width: 350px;
  border: 1px;
  background-color: aliceblue;
}
#box2{
  margin: 60px;
  height: 350px;
  width: 350px;
  border: 1px;
  background-color: aliceblue;
}


